#free-will-wound .med-slide-overlay h1 {
    font-size: 85px;
}

#free-will-predictability .med-slide-overlay h1 {
    font-size: 85px;
}

#free-will-determinism .med-slide-overlay h1 {
    font-size: 90px;
}
