body {
    background-color: black;
    padding: 0;
    margin: 0;
}

.all-container, #all-content {
    background: black;
    color: #c8c8c8;
}

.med-title {
    font-family: 'Atomic Age', cursive;
    font-size: 91px;
    text-align: center;
}

h1, h2, h3 {
    text-align: center;
}

.med-section {
    max-width: 650px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: 'Atomic Age', cursive;
}

.container-fluid p,
.container-fluid li {
    /*font-family: 'Source Code Pro', monospace;*/
    font-family: 'Philosopher', monospace;
}

.container-fluid {
}

.med-container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.med-col img {
    width: 100%;
    padding: 5px;
    overflow: hidden;
}

.med-col {
    padding-left: 0;
    padding-right: 0;
}

#med-outline-container {
    width: 30%;
    padding-left: 10px;
    padding-top: 10px;
    max-height: 95%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

#med-outline {
    float: left;
    padding: 6px;
    border: 2px solid #000000;
    border-radius: 4px;
    color: #c4c4c4;
    background-color: #16161d;
    font-size: 23px;
    font-family: 'Atomic Age', cursive;
    transform: translate3d(0px, 0px, 119px);
    font-size: 2vw;
    width: 100%;
    height: 100%;
    overflow: auto;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #454545;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 13px rgba(0,0,0,.3);
    background-color: #0000001A;
}

#med-outline::-webkit-scrollbar {
    width: 8px;
    background-color: #454545;
    border-radius: 10px;
}

#med-outline::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 13px rgba(0,0,0,.3);
    background-color: #0000001A;
}

@media (min-width: 1500px) {
    #med-outline {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    #med-outline {
        display: none;
    }
}

.med-outline-children {
    margin-left: 4%;
}

.med-section-link {
    cursor: pointer;
}

.med-section-link-overview {
    font-size: 60%;
}


.med-outline-depth-1 {
    font-size: 80%;
}

.med-outline-depth-2 {
    font-size: 80%;
}

.med-outline-depth-3 {
    font-size: 90%;
}


@media (min-width: 500px) {
    .col-sm-1 {
        width: 8.3%;
    }

    .col-sm-2 {
        width: 16.6%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.3%;
    }

    .col-sm-5 {
        width: 41.6%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.3%;
    }

    .col-sm-8 {
        width: 66.6%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-1, .col-sm-2, .col-sm-3,
    .col-sm-4, .col-sm-5, .col-sm-6,
    .col-sm-7, .col-sm-8, .col-sm-9,
    .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
}



.center-horizontal {
    margin: 0 auto;
}

.center-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}